#checkout{
  padding: 4% 8%;
  display: flex;
  @media only screen and (max-width: 600px) {
    flex-direction: column-reverse;
  }
}

.info {
  width: 70%;
  
  h1 {
    margin-bottom: 5%;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 50%;

    input, select {
      margin-bottom: 2%;
      font-size: 1.5em;
      padding: 2%;
      border: 1px solid #d7d7d7;
      background: white;
    }

    input[type='submit'] {
      transition: transform 250ms ease;
      border-radius: 12px;
      margin-top: 5%;
      padding: 4% 0%;
      background: #141414;
      color: white;

      &:hover {
	transform: scale(1.1);
	transition: transform 250ms ease;
      }
    }
  }
  @media only screen and (max-width: 600px) {
    margin-top: 10%;
    width: 100%;
    form { 
      width: 100%; 
      input[type='submit'] { font-size: 1em; }
    }
  }
}

.loggedOut {
  filter: contrast(50%);
  &:hover {
    transform: none !important;
    cursor: not-allowed;
  }
}

.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  input:first-child {
    flex-basis: 100%;
  }

  input {
    width: 49%;
  }
}

.status {
  width: 30%;
  background: #e8e8e8;
  border-radius: 4%;
  padding: 4% 2%;
  position: relative;

  h2:first-child {
    margin-bottom: 10%;
  }

  h2:last-child {
    position: absolute;
    text-align: center;
    width: 90%;
    bottom: 5%;
  }

  p {
    margin-bottom: 2%;
  }
  @media only screen and (max-width: 600px)  {
    width: 100%;
    height: 35vh;
    padding: 6% 4%;
  }
}

.price {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.break {
  flex-basis: 100%;
  height: 0;
}
