#footer {
    border-top: 1px solid #e8e8e8;
    padding: 0 4%;
    height: 35vh;

    background: url('/footer.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    display: flex;
    justify-content: space-between;
    align-items: center;
    @media only screen and (max-width: 600px) {
      color: white;
      font-size: 0.9em;
    }
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2%;
    height: 50%;
}
