.container {
  padding: 0;
}

.intro {
  height: 95vh;
  background: url('/intro.jpg');
  background-size: cover;
  background-position: right center;
  @media only screen and (max-width: 600px) {
    height: 50vh;
    width: 100vw;
  }
}

.text {
  background: white;
  width: 40%;
  height: 100%;
  padding: 4%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    font-size: 4em;
    font-weight: 400;
    font-family: Poppins;
    @media only screen and (max-width: 600px) {
      font-size: 2em;
    }
  }
}

.title {
  text-align: center;
  margin-bottom: 2%;
  margin-top: 2%;
}

.featured {
  padding: 4%;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.flexrow {
  display: flex;
  justify-content: space-evenly;
  @media only screen and (max-width: 600px) {
    flex-wrap: wrap;
  }
}

.categories {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.doublegrid {
  padding: 4%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: repeat(5, 1fr);
  overflow-x: visible;
  grid-auto-flow: row;
  @media only screen and (max-width: 600px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.grid {
  padding: 4%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  @media only screen and (max-width: 600px)  {
    grid-template-columns: repeat(2, 1fr);
  }
}

.logo {
  margin: 2%;
  max-width: 50%;
  max-height: 50%;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4% 8%;
  text-align: center;
  @media only screen and (max-width: 600px) {
    p {
      font-size: 0.7em;
    }
  }
}
