.container {
  display: flex;
  align-items: center;
}

.star {
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  border: 1px solid black;
  width: 30px;
  height: 30px;
}

.starcol {
  background: #dbdb35;
  width: 100%;
  height: 100%;
}

.halfstar {
  background: #dbdb35;
  height: 100%;
  width: 50%;
}
